@import url(https://fonts.googleapis.com/css?family=Carter+One);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
header {
	background-color: #0072bc;
	border: 1px black solid;
	padding: 20px;
}
body {
	background-color: white;
}
h2 {
	font-family: 'Carter One', cursive;
}
section {
	background-color: #FFE2B8
}
#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}
#right {
	background-color: #E55B88;
	border: 1px black solid:
	padding: 20px;
	float: right;
	width: 30%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
p {font-family: 'Lato', sans-serif;

}
li {
	font-family: 'Orbitron', sans serif;
}
footer {
	color: #dcdcdc
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1em
	text-align: center;
	background: #000000;
}