@import url(https://fonts.googleapis.com/css?family=Carter+One);
@import url(https://fonts.googleapis.com/css?family=Lato);
body {
	background-color: white;
}
h1 {
	font-family: 'Carter One', cursive;
}
p {font-family: 'Lato', sans-serif;

}